// Colors

@white: #FFFFFF;
@darkgrey: #2C2E3F;
@extra-darkgrey: #48494D;
@accent: #FE7865;
@accent-active: #F17D4B;
@lightgrey: rgba(20, 21, 23, 0.2);
@extra-lightgrey: #FBF8F8;

// Font
@montserrat: "Montserrat", "Arial", sans-serif;

// Viewports

@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;
